
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Khula|Slabo+27px|Source+Sans+Pro);

// Variables
@import "variables";

// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import url(https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css);

$background-color             : #8da8c5;
$lighter-border-color         : #eef2f6;
$darker-background-color      : #1b6d85;
$linen                        : #FAF0E6;
$seashell                     : #FFF5EE;
$slabo                        :  'Slabo 27px', serif;
$khula                        :  'Khula', sans-serif;
$sourcesans                   :  'Source Sans Pro', sans-serif;
$droidsans                    :  'Droid Sans', sans-serif;
$raleway                      : 'Raleway', sans-serif;

.center{
  text-align:center;
}
.ctr-block{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.top-margin{
  margin-top:2%;
}
.left-margin{
  margin-left:2%;
}

body {
  background-color: $background-color;
  font-family: $droidsans;
}
.btn-info{
  border: 2px ridge $lighter-border-color;
  background-color: $darker-background-color;
}

.panel{
  background-color: $lighter-border-color;
  box-shadow: 5px 5px 5px #888888;
}

.comp-main-div
{
  max-width: 32%;
}

.theuserinterface .container
{
  max-width: 100%;
}

.theuserinterface .mainComponentBlock{
  max-height:80%;
}

.theuserinterface .componentBlock{
  max-height:10%;
}

.homeDivRoot .container{
  max-width: 100%;
}

//modal stuff

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-content h5{
  font-weight: bold;
}
.scheduling-modal{
max-width:100%;
}
